<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Tyler's Personal Website</title>
</head>

<body>
    <h1>Contact Me</h1>
    <ul>
        <li>Phone: 801-750-0923</li>
        <li>Email: tstuver2000@gmail.com</li>
        <li>Twitter: <a href="http://www.twitter.com/t_stu90">t_stu90</a></li>
    </ul>
    <hr>
    <p>
        <form action="mailto:tstuver2000@gmail.com" enctype="text/plain">
            <label>Your Name: </label>
            <input type="text" name="yourName">
            <br>
            <label>Your Email: </label>
            <input type="email" name="yourEmail">
            <br>
            <label>Your Message: </label><br>
            <textarea rows="5" cols="33" name="yourMessage"></textarea>
            <br>
            <input type="submit">
        </form>
    </p>
</body>

</html>