<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Tyler Stuver">
    <title>Tyler's Personal Website</title>
</head>

<body>
    <table cellspacing="20">
        <tr>
            <td><img src="img/tyler.png" alt="Tyler's Profile Picture" width="150" height="150"></td>
            <td>
                <h1>Tyler Stuver</h1>
                <p><em>Some unemployed dude learning how to develop for the web.
                        <br>Orem, Utah
                    </em></p>
                <p>Born and raised in <a href="https://www.youtube.com/watch?v=iXfbS0vXqYo">Utah</a>. I'm just some guy
                    that has an interest in learning how to develop for the web. I first started writing some basic HTML
                    for a <a href="https://en.wikipedia.org/wiki/Yu-Gi-Oh!">Yu-Gi-Oh!</a> fansite I created when I was
                    around 10 years old. I've worked in customer service for over 10 years, but never really followed
                    down a developer path other than learning some basic coding skills as a hobby here and there.</p>
            </td>
        </tr>
    </table>

    <hr noshade>
    <h2>Education</h2>
    <ul>
        <li><strong><a href="https://highland.slcschools.org/">Highland High School</a></strong></li>
        <ul>
            <li><em>Attended 2004-2008</em></li>
            <li>Graduated with honors and 3.5 GPA</li>
            <li>Took Computer Programming I & II - <em>Learned C++</em></li>
        </ul>
        <li><strong><a href="http://www.slcc.edu/">Salt Lake Community College</a></strong></li>
        <ul>
            <li><em>Attended 2009-2010</em></li>
            <li>Focused on technology and computing courses</li>
        </ul>
    </ul>
    <hr noshade>
    <h2>Work Experience</h2>
    <table cellspacing="10">
        <tr>
            <th>Dates</th>
            <th>Title</th>
        </tr>
        <tr>
            <td>2011-2020</td>
            <td>Customer Service at eBay</td>
        </tr>
        <tr>
            <td>2007-2011</td>
            <td>Store Associate at Five Buck Pizza</td>
        </tr>
    </table>

    <hr noshade>
    <h2>Skills</h2>
    <table cellspacing="10">
        <tr>
            <td>Microsoft Office</td>
            <td>⭐⭐⭐⭐⭐</td>
            <td>Social Media</td>
            <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>Customer Serivce</td>
            <td>⭐⭐⭐⭐</td>
            <td>Photoshop</td>
            <td>⭐⭐</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>⭐⭐</td>
            <td>CSS</td>
            <td>⭐</td>
        </tr>
    </table>

    <hr noshade>
    <h2>Hobbies and Interests</h2>
    <ol>
        <li><a href="http://www.reddit.com/r/patientgamers/">PC Gaming</a></li>
        <li>Learning web development on Udemy</li>
        <li>Cooking</li>
    </ol>

    <h2><a href="/contact">Contact Me</a></h2>

</body>

</html>